pytransfert.out
settings
.buildpath
.cache
nbproject
.project
tools/smarty/compile/*.tpl.php
tools/smarty/compile/*.tpl
tools/smarty/cache/*
.DS_Store
modules/blockediteurcarte/img/upload/*
modules/blockediteurcarte/img/upload
modules/blockediteurcarte/monimage.jpg
params.ini
*.jpg
*.pyc
*.out
.pydevproject
.settings
*.komodoproject
