; this is an INI file
[GLOBAL]
TIMER   =   nombre de secondes entre chaque verif de nouveaux fichiers à uploader
NBTHREAD=   nombre de upload simultané
CLEANER_TIMER   =   temps entre caque rotation du process de nettoyage
JOURS_RETENTION =   nombre de jours de retention des fichiers sur le serveur
HECK_THREAD_TIMER = temps en secondes entre chaque vérification des thread ( is alive )

[LOG]
LEVEL   =   niveau de log .. pas encore en fonction
FILENAME=   nom du fichier de log .. pas encore en fonction

[DDB]
HOST    =   ip serveur mysql
DATABASE=   nom de la base de données
USER    =   utilisateur ddb
PASSWORD=   mot de passe

TBL_ETAT    =   nom de la table qui gére les états des transferts
CHAMP_ID    =   nom du champ index des fichiers à uploader
CHAMP_IMG   =   nom de l'image à uploader
CHAMP_CMD   =   champ de la base qui contient le numero de commande lié au fichier
CHAMP_SOURCE=   nom du champ de la base qui contient le chemin absolu des fichiers à uploader
CHAMP_DEST  =   nom du champ de l base qui contien la destination des fichiers à uploder
CHAMP_ETAT  =   nom du champ contenant l'etat
CHAMP_DATE  =   nom du champ contenant la date d'upload du fichier utilisé pour les nettoyages auto

[FTP]
HOST    =   adresse ip du serveur FTP distant
USER    =   login
PASSWORD=   mot de passe

[NOTIFY]
NEWFILEFROM =   adresse de l'expediteur pour la notification nouveau fichier
NEWFILEDEST =   adresse du destinataire pour la notification nouveau fichier
NEWFILESUBJECT  =   sujet

EMERGENCYFROM   =   adresse de l'expediteur pour la detection d'anomalie
EMERGENCYDEST   =   adresse du destinataire pour la detection d'anomalie
EMERGENCYSUBJECT=   sujet
